@define-color fg #57C29F;
@define-color bg #000000;

* {
    font-family: "Inter", "Symbols Nerd Font", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
}

window#waybar {
    background-color: transparent;
    color: @fg;
}

#workspaces {
    background-color: @bg;
    border-radius: 24px;
}

#workspaces button {
    color: @fg;
    border-radius: 24px;
    padding: 0px 8px;
}

#workspaces button.active {
    background-color: @fg;
    color: @bg;
}

#network,
#pulseaudio,
#clock {
    color: @fg;
    background-color: @bg;
    margin: 0 6px 0 0;
    padding: 10px 20px;
    border-radius: 24px;
}

#temperature {
    color: @fg;
    background-color: @bg;
    margin: 0;
    padding: 10px 20px;
    border-radius: 24px;
}

#tray {
    color: @fg;
    background-color: @bg;
    margin: 0 0 0 6px;
    padding: 10px 20px;
    border-radius: 24px;
}
