@define-color bg #0d0d12;
@define-color fg #B3BAFF;

* {
    font-family: 'SF Pro Display', 'Symbols Nerd Font', sans-serif;
    font-weight: 600;
    font-size: 15px;
    border-radius: 50px;
}

window#waybar {
    background-color: transparent;
    color: @fg;
}

#workspaces button.active {
    background-color: @fg;
    color: @bg;
}

#workspaces {
    background-color: @bg;
    margin-left: 6px;
}

#tray {
    color: @fg;
    background-color: @bg;
    margin: 0 6px 0 0;
    padding: 0 15px 0 15px;
}

.modules-left {
    margin-left: 8px;    
}

.modules-right {
    margin-right: 8px;    
}

#network,
#pulseaudio,
#custom-brightness {
    color: @fg;
    background-color: @bg;
    margin: 0 6px 0 0;
    padding: 0 15px 0 15px; /* top, right, bottom, left */
}

#clock {
    color: @fg;
    background-color: @bg;
    margin: 0 6px 0 0;
    padding: 0 15px 0 15px;
}

#temperature {
    color: @fg;
    background-color: @bg;
    margin: 0 6px 0 0;
    padding: 0 15px 0 15px;
}

#network {
    color: @fg;
}

#pulseaudio {
    color: @fg;
}
