layout {
    gaps 12
    background-color "transparent"
    center-focused-column "never"

    preset-column-widths {
        proportion 0.3333
        proportion 0.5
        proportion 0.66666
        proportion 1.0
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 2
    }

    border {
        off
        width 2
    }

    shadow {
        off
        draw-behind-window false
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

blur {
  passes 3
  offset 2.0
  noise 0.06
  saturation 1.0
}

cursor {
    xcursor-theme "Vision"
    xcursor-size 24
}

animations {
    workspace-switch {
        spring damping-ratio=0.80 stiffness=523 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.65 stiffness=923 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=0.85 stiffness=800 epsilon=0.0001
    }
}
