input {
    keyboard {
        xkb {
        }

        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        accel-profile "flat"
    }

    trackpoint {
    }

    warp-mouse-to-focus
}

output "DP-3" {
    mode "2560x1440@180"
    scale 1
    transform "normal"
    position x=0 y=0
    focus-at-startup
}

output "eDP-1" {
    mode "1920x1200@60"
    scale 1
    transform "normal"
    position x=2560 y=0
}
