layout {

    focus-ring {
        active-color   "#85d993"
        inactive-color "#091516"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#85d993"
        inactive-color "#091516"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#85d993"
        inactive-color "#005323"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#85d99380"
    }
}

recent-windows {
    highlight {
        active-color "#85d993"
        urgent-color "#ffb4ab"
    }
}
