// Effects
window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
    draw-border-with-background false
    background-effect {
       blur true
       xray false
    }
}

// Firefox PIP
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Hide Password in Screen Capture
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"
}

// Floating Noctalia settings window.
window-rule {
  match app-id="dev.noctalia.Noctalia"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

// Browser Default Width
window-rule {
  match app-id="librewolf"
  open-maximized true
}

// Noctalia Panels Backdrop
layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
  background-effect {
    xray false
  }
}

// Backdrop Wallpaper
layer-rule {
    match namespace="noctalia-window-switcher"
    background-effect {
        blur true
        xray false
    }
}

layer-rule {
  match namespace="^noctalia-wallpaper"
  place-within-backdrop true
}
